@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  padding-top: 90px;
  background-color: grey;
}

header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.left-section {
  width: 600px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.left-section div {
  align-items: center;
}
a:hover {
  border-bottom: 4px solid #f54e77;
}
header a{
  text-decoration:none;
  color:black
}
.image:hover{
  border-bottom: none;
}
a{
  font-size: 0.8rem;
  font-weight: 600;
  padding: 20px 0px;
  cursor: pointer;
  color: rgb(63, 62, 62);
}
sup{
  margin-left: 5px;
  font-size: 0.65rem;
  color: #f54e77;
}
.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 30px;
}
.middle-section button {
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  margin-right: -35px;
  z-index: 20;
  background-color: rgb(236, 234, 234);
  cursor: pointer;
}
.middle-section button span {
  color: grey;
}
.middle-section input {
  background-color: rgb(236, 234, 234);
  padding: 10px;
  flex: 1;
  border: none;
  border-radius: 5px;
  padding-left: 40px;
}
.middle-section input::placeholder {
  color: grey;
}
.right-section {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  flex-shrink: 0;
}
.icon {
  font-size: 1.1rem;
}
.right-section p {
  font-size: 0.8rem;
}
.bag-icon-container {
  position: relative;
}
a{
  color: black;
  text-decoration: none;
}
.bag-count {
  position: absolute;
  background-color: #f54e77;
  top: 0;
  padding: 1px 6px;
  left: 11px;
  border-radius: 50%;
  font-size: 0.75rem;
  color: white;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 40px;
  flex-wrap: wrap;
}
li {
  list-style: none;
  margin-top: 5px;
  color: grey;
}
footer h2 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}
footer p {
  color: grey;
  padding: 20px;
  text-align: center;
}

/* main */

.product {
  width: 270px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  transition: box-shadow 0.55s;
}
.product:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
}
.image-container {
  margin-bottom: 10px;
}
.rating-container {
  margin-bottom: 5px;
}
.name-container h3 {
  font-size: 1.1rem;
  font-weight: 500;
}
.name-container p {
  color: #808080;
  height:35px;
  margin-bottom: 10px;
}

.name-container h4 {
  font-size: 0.95rem;
  font-weight: 400;
  margin-top: 15px;
}

.name-container h4 del {
  color: grey;
  margin-left: 10px;
  font-size: 0.85rem;
}

.name-container h4 span {
  color: green;
  margin-left: 10px;
  font-size: 0.85rem;
}
.name-container {
  margin-bottom: 15px;
}

.product button {
  width: 100%;
  padding: 7px;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.icon{
  font-size: 1.3rem;
  padding-right: 5px;
}

/* checkout */

.product-checkout-container {
  display: flex;
  width: 500px;
  position: relative;
  background-color: white;
  box-shadow: 5px 3px 10px rgba(0,0,0,0.20);
}
.product-details {
  margin-left: 20px;
}
.delete-product {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 1.5rem;
}
.name-container-checkout h3 {
  color: grey;
  font-size: 1rem;
}
.name-container-checkout h4 {
  margin: 0;
}
.name-container-checkout p {
  margin-bottom: 10px;
  font-size: 0.90rem;
}
.product-return-details h5 {
  margin-bottom: 10px;
  font-size: 0.79rem;
}
.product-return-details h5 span {
  font-size: 0.75rem;
  color: grey;
}
.product-return-details h6 {
  margin-bottom: 10px;
  font-size: 0.80rem;
}
.product-return-details h6 span {
  font-size: 0.75rem;
  color: green;
}
.bag-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bag-summary {
  margin-top: 20px;
  border: 1px solid grey;
  width: 350px;
  padding: 20px;
  height: 250px;
}
.bag-summary h2 {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(95, 93, 93);
  margin-bottom: 15px;
}
.bag-summary span {
  margin-left: 5px;
}
.bag-summary h4 {
  color: grey;
  font-size: 0.85rem;
  margin-top: 10px;
  font-weight: 400;
}
.bag-summary h4 span {
  float: right;
  color: green;
}
.bag-summary h3 {
  color: rgb(90, 87, 87);
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.bag-summary h3 span {
  float: right;
  color: green;
}

.bag-summary hr {
  margin-top: 20px;
  margin-bottom: 10px;
}
.bag-summary button {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: #f54e77;
  border: none;
}
.bag-products{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

/* order button */

.button-name {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 }
 
 .button-name:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 }
 
 .button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
 }
 
 .button-name:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
 }

 /* living */

 .starting-image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
 }

 .hero-container{
  display: flex;
  justify-content: space-around;
 }


 /* wishlist */

 .heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.wishCheckbox{
  height:20px;
  width: 20px;
}
.rating-container{
  display: flex;
  justify-content: space-between;
}
.wish-icon-container{
  position: relative;
}
.wish-count{
  position: absolute;
  background-color: #36395A;
  border-radius: 50%;
  padding: 2px 6px;
  color: white;
  font-size: 0.55rem;
  top: 0;
  right: 6px;
}
.wish-products{
  margin-left: 40px;
  margin-top: 20px;
}
.wish-cart-btn{
  margin-top: 20px;
  width: 200px;
}